body {
    background-color: rgb(18, 1, 26);
    font-family: Arial, sans-serif;
    color: white;
    padding: 20px;
}

.container {
    width: 100%;
}

input[type="text"] {
    width: 70%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 10px;
    box-shadow: 4px;
}

.admitir {
    background-color: rgb(0, 128, 32);
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
}

.pesquisar {
    background-color: rgb(28, 0, 128);
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: #919090;
}

th, td {
    padding: 15px;
    text-align: left;
}

th {
    background-color: #444;
}

button.atualizar {
    background-color: dodgerblue;
    color: white;
    border: none;
    padding: 8px;
    margin-right: 5px;
    border-radius: 5px;
}

button.demitir {
    background-color: red;
    color: white;
    border: none;
    padding: 8px;
    border-radius: 5px;
}

/* Modal */
.modal {
    display: none;
    position: fixed;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background-color: rgba(79, 79, 79, 0.8);
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: #8a8989;
    padding: 20px;
    border-radius: 20px;
    width: 300px;
}
button.salvarFuncionario{
    border-radius: 20px;
    background-color: #8a8989;
    width: 20px;
}
